/*! ************************************/
/* ! NAV BAR */
/*! ************************************/
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: #474747;
	text-decoration: none;
	margin-left: 3.2rem;
}

.nav-link:hover {
	color: #e6a4b4;
}

.nav-logo {
	height: 6em;
	/* padding: 1em; */
	will-change: filter;
	transition: filter 300ms;
}

.nav-container {
	background-color: #f7f2f0 !important;
	width: 100vw;
}

#nav-div {
	margin-left: 1.6rem;
}

.nav-search-btn {
	background-color: #c03558;
	border: #c03558 1px solid;
	transition: background-color border 300ms;
	font-size: 1.5rem !important;
	letter-spacing: 0.1rem;
}

.nav-search-btn:hover {
	background-color: #c4d9e9;
	border: 1px solid #c4d9e9;
}

.nav-search-input {
	padding: 1.6rem 1.6rem;
	font-size: 1.5rem !important;
	letter-spacing: 0.1rem;
}

#brand-logo {
	font-size: 1.6rem;
}

#search-form {
	display: flex;
	max-width: fit-content;
	width: 100%;
	margin-right: 3rem;
}

.hero-title {
	font-family: "Licorice", sans-serif;
	font-size: 8rem;
	letter-spacing: 0.3rem;
	font-weight: 700;
	color: #474747;
}

.product-cards {
	display: flex;
	gap: 0.8rem;
	height: fit-content;
	width: 85vw;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 85vw;
}

#book-cover {
	height: 90%;
	width: 200px;
	box-shadow: 0.3rem 0.3rem 1rem #cdcdcd;
}

.card-container {
	background-color: #f7f2f0 !important;
	border: none;
	max-width: 30rem;
}

.hero-btn {
	background-color: #c03558;
	border: #c03558 1px solid;
	transition: background-color border 300ms;
	padding: 0.8rem 1.6rem;
	box-shadow: 0.3rem 0.3rem 1rem #cdcdcd;
	margin-bottom: 2.4rem;
}

.hero-btn:hover {
	background-color: #c4d9e9;
	border: 1px solid #c4d9e9;
}

.car-image img {
	width: 50px;
	height: 50px;
	border-radius: 10px;
}

#bestsellers-h2 {
	font-family: "Playfair Display", serif;
	font-size: 5.2rem;
	letter-spacing: 0.3rem;
	font-weight: 700;
	color: #474747;
	margin-bottom: 2.4rem;
}

#carousel {
	background-color: #e6a4b4 !important;
	padding: 3rem;
}
