/*! ************************************/
/* ! NAV BAR */
/*! ************************************/

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: #474747;
	text-decoration: none;
	margin-left: 3.2rem;
}

.nav-link:hover {
	color: #e6a4b4;
}

.nav-logo {
	height: 6em;
	/* padding: 1em; */
	will-change: filter;
	transition: filter 300ms;
}

.nav-container {
	background-color: #f7f2f0 !important;
	width: 100vw;
}

#nav-div {
	margin-left: 1.6rem;
}

.nav-search-btn {
	background-color: #e6a4b4;
	border: #e6a4b4 1px solid;
	transition: background-color border 300ms;
}

.nav-search-btn:hover {
	background-color: #c4d9e9;
	border: 1px solid #c4d9e9;
}

#brand-logo {
	font-size: 1.6rem;
}

#search-form {
	display: flex;
	max-width: fit-content;
	width: 100%;
	margin-right: 3rem;
}
